@import './../variables';

.detail-page{
    margin-top: 120px;

    .detail-section{
        .right-section{
            .card{
                border: none;
                background-color: $whitBlue;
                padding:30px;
                line-height: 24px;
                h2{
                    font-weight: 600;
                }
            }
        }
    }
    .price-section{
        margin-top: 40px;
        h2{
            text-align:center;
            font-weight: 600;
            margin-bottom:20px;
        }
        .btn-book{
            background-color: $lightBlue;
            color: white;
        }
    }
}